/*
further_styles.css

Author: Sean Maden

Styles for further.html, page for extended contact, professional, affiliation, and social links.

*/

.further-entry {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}