/*
portfolio_styles.css

Author: Sean Maden

CSS styles for portfolio content, including piece sections and image carousels.

*/

/*begin scroll container mgmt*/
div.portfolio-box {
    width: 100%; 
    max-height: 200%;
    max-width: 100%;
    height: 520px; 
}
div.scroll-container {
    border: 1.5px solid black;
    background-color: #9c9ba3;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    height: 220px;
    width: 100%; 
    max-height: 30%;
    max-width: 80%;
}
div.scroll-container img {
    padding: 10px;
}
div.scroll-container > .item > img {
    height: 100%;
    object-fit: cover;
}
/*end scroll container mgmt*/