/*
presentations_styles.css

Author: Sean Maden

CSS styles for presentations HTML page, including carousels, links, and text.

*/

.page-title {
  font-size:40px;
}
.slide-content-title {
  font-size: 30px;
  margin-top: 12%;
}

.slider,
.slider_enar2024,
.slider_bioc2023,
.slider_bioc2021,
.slider_aacr2016 {
  position: relative;
  width: 960px;/*height: 400px;*/
  height: 650px;
  max-height: 50%;
  max-width: 100%;
  margin: 10px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  background-color: hsla(241, 54%, 35%, 0.85);
  overflow: hidden;
}

.slider-controls,
.slider-controls_enar2024,
.slider-controls_bioc2023,
.slider-controls_bioc2021,
.slider-controls_aacr2016 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translatex(-50%);
  z-index: 1000;
  margin-bottom: 10px;
  list-style: none;
  text-align: center;
}

.slider input[type="radio"],
.slider_enar2024 input[type="radio"],
.slider_bioc2023 input[type="radio"],
.slider_bioc2021 input[type="radio"],
.slider_aacr2016 input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
  margin-bottom: 10px;
}

.slider-controls label,
.slider-controls_enar2024 label,
.slider-controls_bioc2023 label,
.slider-controls_bioc2021 label,
.slider-controls_aacr2016 label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  background-color: #212121;
  transition: background-color 0.2s linear;
}

/* SLIDES */

.slides,
.slides_enar2024,
.slides_bioc2023,
.slides_bioc2021,
.slides_aacr2016 {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  max-height: 80%;
  max-width: 90%;
  z-index: 0;
}

.slide,
.slide_enar2024,
.slide_bioc2023,
.slide_bioc2021,
.slide_aacr2016 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translatex(-100%);
  transition: transform 250ms linear;
  max-width: 100%;
  z-index: 0;
}

.slide-content,
.slide-content_enar2024,
.slide-content_bioc2023,
.slide-content_bioc2021,
.slide-content_aacr2016 {
  width: 100%;
  height: 100%;
  max-width: 90%;
  max-height: 90%;
  z-index: 0;
}

.slide-title,
.slide-title_enar2024,
.slide-title_bioc2023,
.slide-title-bioc2021,
.slide-title-aacr2016 {
  margin-bottom: 5px;
  font-size: 36px;
}

.slide-text,
.slide-text_enar2024,
.slide-text_bioc2023,
.slide-text_bioc2021,
.slide-text_aacr2016 {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  z-index: 0;
}

.slide-link,
.slide-link_enar2024,
.slide-link_bioc2023,
.slide-link_bioc2021,
.slide-link_aacr2016 {
  display: inline-block;
  padding: 2px 2px;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
  background-color: #ff4081;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  border: 1px solid white;
  z-index: 0;
}

.slide-image img,
.slide-image_enar2024 img,
.slide-image_bioc2023 img,
.slide-image_bioc2021 img,
.slide-image_aacr2016 img {
  max-width: 60%;
  object-fit: cover;
  padding: 2px;
  z-index: 0;
}

/* Slide animations */
#slideN:checked ~ .slider-controlsN label[for="slideN"],
#slide_enar2024_1:checked ~ .slider-controls_enar2024 label[for="slide_enar2024_1"],
#slide_enar2024_2:checked ~ .slider-controls_enar2024 label[for="slide_enar2024_2"],
#slide_enar2024_3:checked ~ .slider-controls_enar2024 label[for="slide_enar2024_3"],
#slide_enar2024_4:checked ~ .slider-controls_enar2024 label[for="slide_enar2024_4"],
#slide_enar2024_5:checked ~ .slider-controls_enar2024 label[for="slide_enar2024_5"],
#slide_enar2024_6:checked ~ .slider-controls_enar2024 label[for="slide_enar2024_6"],
#slide_bioc2023_1:checked ~ .slider-controls_bioc2023 label[for="slide_bioc2023_1"],
#slide_bioc2023_2:checked ~ .slider-controls_bioc2023 label[for="slide_bioc2023_2"],
#slide_bioc2023_3:checked ~ .slider-controls_bioc2023 label[for="slide_bioc2023_3"],
#slide_bioc2023_4:checked ~ .slider-controls_bioc2023 label[for="slide_bioc2023_4"],
#slide_bioc2021_1:checked ~ .slider-controls_bioc2021 label[for="slide_bioc2021_1"],
#slide_bioc2021_2:checked ~ .slider-controls_bioc2021 label[for="slide_bioc2021_2"],
#slide_bioc2021_3:checked ~ .slider-controls_bioc2021 label[for="slide_bioc2021_3"],
#slide_bioc2021_4:checked ~ .slider-controls_bioc2021 label[for="slide_bioc2021_4"],
#slide_bioc2021_5:checked ~ .slider-controls_bioc2021 label[for="slide_bioc2021_5"]
#slide_aacr2016_1:checked ~ .slider-controls_aacr2016 label[for="slide_aacr2016_1"],
#slide_aacr2016_2:checked ~ .slider-controls_aacr2016 label[for="slide_aacr2016_2"],
#slide_aacr2016_3:checked ~ .slider-controls_aacr2016 label[for="slide_aacr2016_3"],
#slide_aacr2016_4:checked ~ .slider-controls_aacr2016 label[for="slide_aacr2016_4"],
#slide_aacr2016_5:checked ~ .slider-controls_aacr2016 label[for="slide_aacr2016_5"],
#slide_aacr2016_6:checked ~ .slider-controls_aacr2016 label[for="slide_aacr2016_6"] {
  background-color: #ff4081;
}
#slideN:checked ~ .slidesN .slide:nth-child(0),
#slide_enar2024_1:checked ~ .slides_enar2024 .slide_enar2024:nth-child(1),
#slide_enar2024_2:checked ~ .slides_enar2024 .slide_enar2024:nth-child(2),
#slide_enar2024_3:checked ~ .slides_enar2024 .slide_enar2024:nth-child(3),
#slide_enar2024_4:checked ~ .slides_enar2024 .slide_enar2024:nth-child(4),
#slide_enar2024_5:checked ~ .slides_enar2024 .slide_enar2024:nth-child(5),
#slide_enar2024_6:checked ~ .slides_enar2024 .slide_enar2024:nth-child(6),
#slide_bioc2023_1:checked ~ .slides_bioc2023 .slide_bioc2023:nth-child(1),
#slide_bioc2023_2:checked ~ .slides_bioc2023 .slide_bioc2023:nth-child(2),
#slide_bioc2023_3:checked ~ .slides_bioc2023 .slide_bioc2023:nth-child(3),
#slide_bioc2023_4:checked ~ .slides_bioc2023 .slide_bioc2023:nth-child(4),
#slide_bioc2021_1:checked ~ .slides_bioc2021 .slide_bioc2021:nth-child(1),
#slide_bioc2021_2:checked ~ .slides_bioc2021 .slide_bioc2021:nth-child(2),
#slide_bioc2021_3:checked ~ .slides_bioc2021 .slide_bioc2021:nth-child(3),
#slide_bioc2021_4:checked ~ .slides_bioc2021 .slide_bioc2021:nth-child(4),
#slide_bioc2021_5:checked ~ .slides_bioc2021 .slide_bioc2021:nth-child(5),
#slide_aacr2016_1:checked ~ .slides_aacr2016 .slide_aacr2016:nth-child(1),
#slide_aacr2016_2:checked ~ .slides_aacr2016 .slide_aacr2016:nth-child(2),
#slide_aacr2016_3:checked ~ .slides_aacr2016 .slide_aacr2016:nth-child(3),
#slide_aacr2016_4:checked ~ .slides_aacr2016 .slide_aacr2016:nth-child(4),
#slide_aacr2016_5:checked ~ .slides_aacr2016 .slide_aacr2016:nth-child(5),
#slide_aacr2016_6:checked ~ .slides_aacr2016 .slide_aacr2016:nth-child(6) {
  transform: translatex(0);
  opacity: 1;
}
#slideN:not(checked) ~ .slidesN .slide:nth-child(0),
#slide_enar2024_1:not(checked) ~ .slides_enar2024 .slide_enar2024:nth-child(1),
#slide_enar2024_2:not(checked) ~ .slides_enar2024 .slide_enar2024:nth-child(2),
#slide_enar2024_3:not(checked) ~ .slides_enar2024 .slide_enar2024:nth-child(3),
#slide_enar2024_4:not(checked) ~ .slides_enar2024 .slide_enar2024:nth-child(4),
#slide_enar2024_5:not(checked) ~ .slides_enar2024 .slide_enar2024:nth-child(5),
#slide_enar2024_6:not(checked) ~ .slides_enar2024 .slide_enar2024:nth-child(6),
#slide_bioc2023_1:not(checked) ~ .slides_bioc2023 .slide_bioc2023:nth-child(1),
#slide_bioc2023_2:not(checked) ~ .slides_bioc2023 .slide_bioc2023:nth-child(2),
#slide_bioc2023_3:not(checked) ~ .slides_bioc2023 .slide_bioc2023:nth-child(3),
#slide_bioc2023_4:not(checked) ~ .slides_bioc2023 .slide_bioc2023:nth-child(4),
#slide_bioc2021_1:not(checked) ~ .slides_bioc2021 .slide_bioc2021:nth-child(1),
#slide_bioc2021_2:not(checked) ~ .slides_bioc2021 .slide_bioc2021:nth-child(2),
#slide_bioc2021_3:not(checked) ~ .slides_bioc2021 .slide_bioc2021:nth-child(3),
#slide_bioc2021_4:not(checked) ~ .slides_bioc2021 .slide_bioc2021:nth-child(4),
#slide_bioc2021_5:not(checked) ~ .slides_bioc2021 .slide_bioc2021:nth-child(5),
#slide_aacr2016_1:not(checked) ~ .slides_aacr2016 .slide_aacr2016:nth-child(1),
#slide_aacr2016_2:not(checked) ~ .slides_aacr2016 .slide_aacr2016:nth-child(2),
#slide_aacr2016_3:not(checked) ~ .slides_aacr2016 .slide_aacr2016:nth-child(3),
#slide_aacr2016_4:not(checked) ~ .slides_aacr2016 .slide_aacr2016:nth-child(4),
#slide_aacr2016_5:not(checked) ~ .slides_aacr2016 .slide_aacr2016:nth-child(5),
#slide_aacr2016_6:not(checked) ~ .slides_aacr2016 .slide_aacr2016:nth-child(6) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}
@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }
  100% {
    transform: translatex(50%);
    opacity: 0;
  }
}
